{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% if request.user.is_anonymous %}
    <div>
        <h2>Hello mysterious stranger,</h2>
        <p>looks like you're not logged in. Click on the Login with Discord button in the top right to change that.</p>
    </div>
    {% else %}
        <div class="interface">
            <div class="navigation">
                <div class="tabs">
                    <ul>
                        {% for topic in topics %}
                            <li>{{ topic }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="article-viewer">
                <div class="left-pane">
                    <ul>
                        {% for article in articles %}
                           <li id="list_id__{{ article.id }}" class="article_btn" onclick="displayItem('{{ article.id }}')"><div class="article_list_id">{{ article.id }}</div><div class="article_list_title">{{ article.title }}</div></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="right-pane">
                        <div class="articles">
                        {% for article in articles %}
                            <div class="article" id="article__{{ article.id }}">
                                <div class="article_id" id="article_id__{{ article.id }}">{{ article.id }}</div>
                                <div class="article_title" id="article_title__{{ article.id }}">{{ article.title }}</div>
                                <div class="article_content " id="article_text__{{ article.id }}">
                                    {{ article.text|linebreaks }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
            </div>
        </div>
        <script>
            window.onload = function() {
                var articles = document.getElementsByClassName('article_btn');
                articles[0].classList.toggle('selected');
                document.getElementsByClassName('article')[0].classList.toggle("show");
            }

            function displayItem(article_item) {
                var selected_choice = document.getElementById('list_id__'+ article_item)
                selected_choice.classList.add("selected");

                var selected_article = document.getElementById('article__'+ article_item)
                selected_article.classList.add("show");

                var article_list = document.getElementsByClassName("article_btn");
                var articles = document.getElementsByClassName("article");

                    var i;
                    for (i = 0; i < article_list.length; i++) {
                        var articleChoice = article_list[i];
                        if (articleChoice.id !== selected_choice.id) {
                            if (articleChoice.classList.contains('selected')) {
                                articleChoice.classList.remove('selected');
                            }
                        }
                        var article = articles[i];
                        if (article.id !== selected_article.id) {
                            if (article.classList.contains('show')) {
                                article.classList.remove('show');
                            }
                        }
                    }
            }
        </script>
    {% endif %}
{% endblock %}