{% extends "base.html" %}
{% load static %}
{% block title %}Muse{% endblock %}

{% block content %}
	<div>
		<div class="welcome">
			{% if request.user.is_anonymous %}
				<h2>Welcome to Muse</h2>
				<p>Muse is a <a href="https://discord.com">Discord</a> dictionary bot. You can type
				<pre>muse topic</pre>
				and the bot will reply with that it knows about <i>topic</i>. Server administrators can use this website
				to manage their muse's knowledge base.</p>
				<p>You can add Muse to your Discord server via
					<a href="https://discord.com/api/oauth2/authorize?client_id=796356258319564822&permissions=522304&scope=bot">
						https://discord.com/api/oauth2/authorize?client_id=796356258319564822&permissions=522304&scope=bot
					</a>
				</p>
				<p>Muse was inspired by the muse ALI in the <a href="https://www.eclipsephase.com">Eclipse Phase RPG</a>
					by <a href="https://posthumanstudios.com">Posthuman Studios, LLC</a>
				</p>
			{% else %}
				<h2>Hello {{ name }}#{{ discriminator }}!</h2>
			{% endif %}
		</div>
		<div class="footer">
			{% with personality|add:'/media/discord.png' as discord %}
			<div class="footer-left">
				<a href="https://discord.gg/nAsE9rp4Ua" target="_blank"><i class="fab fa-discord"></i></a>
			</div>
			{% endwith %}
			<div class="footer-mid flex-center">
			<span>All copyrighted symbols/logos are the property of their respective owners. <a
				href="https://eclipsephase.com/">Eclipse Phase</a> is published by <a href="https://posthumanstudios.com/">Posthuman Studios.</a></span>
			</div>
			<div class="footer-right">
				<ul>
					<li><a href="https://github.com/swdevlin/muse"><i class="fab fa-github"></i> Contribute</a></li>
				</ul>
				|
				<div style="text-transform: lowercase; padding-left:10px;">v0.5.0</div>
			</div>
		</div>
	</div>
{% endblock %}
