{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% if request.user.is_anonymous %}
    <h2>Hello mysterious stranger!</h2>
    <p>Looks like you're not logged in. Click on the Login with Discord button in the top right to change that.</p>
    {% else %}
        <div class="interface">
        <div class="navigation">
            <div class="tabs">
                <ul>
                    <li>SETTINGS</li>
                </ul>
            </div>
        </div>
        <div class="article-viewer">
            <div class="left-pane">
                <ul>
                    <li><div class="article_list_id">001</div><div class="article_list_title">Template</div></li>
                </ul>
            </div>
            <div class="right-pane">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}