{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div>
        <div class="profile_container">
        {% if request.user.is_anonymous %}
        <h2>Hello mysterious stranger!</h2>
        <p>looks like you're not logged in. Click on the Login with Discord button in the top right to change that.</p>
        {% else %}
            <h2>Oh hi {{ name }}#{{ discriminator }},</h2>
            <p>You're logged in and are on the profile page, but we haven't got anything to see here yet. Try again later.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}